@{
    ViewBag.Title = "test";
    Layout = "~/Views/_template.cshtml";
}
<div ng-app="myApp" ng-controller="customersCtrl">
    <table class="table table-bordered">
        <tr class="danger">
            <th>編號</th>
            <th>名稱</th>
            <th>城市</th>
            <th>排名</th>
        </tr>
        <tr ng-repeat="x in names" class="success">
            <td >{{ x.no}}</td>
            <td >{{ x.name}}</td>
            <td >{{ x.city}}</td>
            <td >{{ x.rank}}</td>
        </tr>
    </table>
</div>





<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function ($scope, $http) {
        $http.post("getdata")
        .success(function (response) {

        
            $scope.names = response;
            console.log(response);

       

        }



        );


    });

</script>
