
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_template.cshtml";
}
<div class="btn-group" style="width:auto">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        d3視覺化 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/d3js/Treemap">樹狀地圖</a></li>
        <li><a href="/d3js/Tree">樹狀圖</a></li>
    </ul>
</div>


